name: Test
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['2.7', '3.6']
      fail-fast: false
    steps:
        - name: "Software Install - Ubuntu"
          if: ${{ matrix.os == 'ubuntu-latest' }}
          run: |
            sudo apt-get install -y \
              build-essential \
              ca-certificates \
              curl \
              git \
              gzip \
              libfftw3-dev \
              libhdf5-dev \
              libgdbm-dev \
              pkg-config \
              tar
        - uses: actions/setup-python@v2
          with:
            python-version: ${{ matrix.python-version }}
        - uses: actions/checkout@v2
        - name: "Software Install - Python"
          run: |
            pip install \
              setuptools \
              numpy \
              matplotlib \
              scipy \
              h5py \
              jinja2 \
              GitPython
            pip install \
              git+https://github.com/lwa-project/lsl.git
            pip install \
             pylint
        - name: Test
          continue-on-error: ${{ matrix.python-version == '2.7' }}
          run: |
            cd tests
            python -m unittest discover
